<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="~/Scripts/modernizr-2.6.2.js"></script>
  <style>
    .table tbody > tr > td {
      vertical-align: middle;
    }
  </style>
</head>
<body>
  <div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">E(⊙﹏⊙)R(●ˇ∀ˇ●)P</a>
  </div>
  <div class="row panel">
    <div id="menus" class="col-xs-12 col-md-3">
      @Html.Action("Menu", "Nav")
    </div>
    <div class="col-xs-12 col-md-9">
      @RenderBody()
    </div>
  </div>
  <script src="~/Scripts/jquery-1.10.2.min.js"></script>
  <script src="~/Scripts/bootstrap.min.js"></script>
  <script>
    //给选中菜单高亮效果
    $('#menus a[href*="@ViewContext.RouteData.Values["controller"]/List"]').addClass("btn-primary");
  </script>  
</body>
</html>