@model IEnumerable<ERP.Domain.Entities.Menu>

<a class="btn btn-block btn-default btn-lg" href="/">首页</a>
<a class="btn btn-block btn-default btn-lg" href="/Product/List">产品管理</a>
<a class="btn btn-block btn-default btn-lg" href="/XS/List">销售管理</a>
<a class="btn btn-block btn-default btn-lg" href="/CG/List">采购管理</a>
<div class="btn btn-block btn-default btn-lg menu" onmouseover="onMouseOver(this);" onmouseout="onMouseLeave(this);">
  附加资料
  <ul class="content">
    <li><a class="btn btn-block btn-default btn-lg" href="/Human/List">人员信息</a></li>
    <li><a class="btn btn-block btn-default btn-lg" href="/Supplier/List">供应商信息</a></li>
    <li><a class="btn btn-block btn-default btn-lg" href="/Customer/List">顾客信息</a></li>
  </ul>
</div>
<link href="~/Content/menu.css" rel="stylesheet" />
@*附加资料的悬浮菜单*@
<script>
  function onMouseOver(obj){
    var width = $('.menu').css('width');
    $(obj).children().css('display', 'block').css('left', width).css('width', parseInt(width) / 2);
  }
  function onMouseLeave(obj) {
    $(obj).children().css('display', 'none');
  }
</script>